{% for post in site.posts reversed %}
  <article future-date="{{ post.date | date: '%Y%m%d' }}" class="day">
    <h5 class="date"> {{ post.date | date: "%-m.%-d.%y" }} // {{ post.time }}</h5>
    <a href="{{ post.url | relative_url }}"><h2 class="event"> {{ post.title }} </h2></a>
    <p class="description"> {{ post.excerpt | strip_html }} </p>
    <div class="room">
      <h5> {{ post.room }}</h5>
    </div>
    <!-- <div class="print">
      <h5>print</h5>
    </div> -->
  </article>
{% endfor %}
